body{
    background-image:url("AtoPe.png");
}
h1{font-family: "Pacifico", cursive;
    color:#D2691E ;
    font-size: 50px;
    text-align: center;}
h2{font-family:"Caveat" ,cursive;
    font-size: 30px;
    color: #00008B;}
h3{font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:#008B8B ;}
li{font-family: Arial, Helvetica, sans-serif;
    color: white}
p{ color: white;}
a:link{ color: green;}
a:visited{color: gray;}
a:hover{ color: red;
    font-weight: bold;}
a:active {
    color: green;
}
table,td,th{
            border: solid brown;
            border-collapse: collapse;
            background-color: AntiqueWhite;
        }
        table{ width: 33%;margin:auto;
        }
        
        td{ /*vertical-align: center;*/
            text-align: center;
            }
       
